@media (max-width:1024px) {
    .container{
        max-width: 964px;
    }
    .section-center h1{
        font-size: 104px;
        letter-spacing: 10.433px;
    }
    .section-center h2{
        font-size: 104px;
        letter-spacing: 10.433px;
    }
    .section-innerContainer{
        gap: 53px;
    }
    .date_none{
        display: none;
    }
    .card-section img{
        width: 100%;
    }
    .slider-container img{
        width: 100%;
    }
    .section-container__info{
        font-size:16px
    }
    .section-container__info svg{
        margin-left: unset;
    }
    .section-container__info:nth-child(2){
        display: flex;
    }
}